@if(localVar) {
<header>
  <div class="logo">
    <h2>FaceNook</h2>
  </div>
  <nav>
    <ul>
      <li>Home</li>
      <li>Posts</li>
      <li>AddPost</li>
    </ul>
  </nav>
  <div class="account-display">
    <img [src]="profileImageUrl" />
    <h5 class="profile-name">{{ profileEmail }}</h5>
  </div>
</header>
<main>
  <div class="home">
    <div class="card">
      <h1>FaceNook Applicatoin</h1>
      <p>
        Hello {{ profileName }} At FaceNook Applicatoin <br />
        Are A Online Community
      </p>
    </div>
  </div>

  <div class="addposts">
    <form [formGroup]="postForm">
      <h1>ADD Posts</h1>
      <input formControlName="content" type="text" placeholder="Post Content" />
      <button class="post-btn" (click)="sharePost()">Share Post</button>
    </form>
  </div>

  <div class="all-posts">
    <h1>All Posts</h1>
    @for (post of AllPosts; track $index) {
    <div class="post">
      <div class="post-content">
        <div class="posthead">
          <img [src]="post.image" alt="" />
          <h1>{{ post.name }}</h1>
        </div>
        <div class="post-body">
          <h1>{{ post.post }}</h1>
        </div>
      </div>
    </div>

    }
  </div>
</main>
} @else {

<form [formGroup]="userProfileForm">
  <div class="not">
    <div
      class="JoinUS"
      style="
        background: gray;
        margin: 22px;
        padding-top: -102px;
        padding-bottom: -10px;
        padding-bottom: -17px;
        border-radius: 52px;
        padding-right: 145px;
        padding-left: 145px;
      "
    >
      <h1>Join Our FaceNook Application</h1>
      <div class="login">
        <input
          type="text"
          formControlName="name"
          placeholder="Enter Your Name Here"
          required
        />
        <br />
        <input
          type="password"
          formControlName="password"
          placeholder="Enter Your Password Here"
          required
        />
        <br />
        <input
          type="email"
          formControlName="email"
          placeholder="Enter Your Email Here"
          required
        />
        <br />
        @if(loader) {
        <div class="progress"></div>

        }
        <button
          type="button"
          class="join-btn"
          (click)="onSubmit(); loader = true"
        >
          Click Me Join!!
        </button>
      </div>
    </div>
  </div>
</form>
}
